* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
}
.container {
    display:grid;
    grid-gap: 15px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px; 
    justify-content: center;
}
